
.cart {
    display: flex;
    align-items: center;
    flex-direction: column;
    /* padding: 10px; */
    height: 89%;
    width: 500px;
    position: fixed;
    z-index: 999;
    top: 10%;
    right: 1%;
    background-color: white;
    /* border: 1px solid rgb(223, 223, 223); */
    box-shadow: 1px 1px 10px rgb(179, 179, 179, 0.5);
    border-radius: 10px;
    overflow: auto;
}

.title {
    margin: 30px;
    color: #007dfc;
}