.productGrid {
    width: 67vw;
    height: 100%;
    display: grid;
    align-items: center;
    justify-content: space-evenly;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 28px;
    row-gap: 30px;
    /* border: 1px solid black; */
}

.gridItem {
    /* border: 1px solid black; */
    display: flex;
    align-items: center;
    justify-content: center;
}